ion-side-menus ion-side-menu-content ion-nav-view ion-view ion-content {

	background-image: url('../img/bg_pattern.png');
	padding-top: 16px !important;

	&.has-tabs-top {
		top: 79px;
	}

	&.has-header {
		top: 45px;
	}

	.content-header {

		margin-top: -16px;
		padding: 16px 32px;
		background: $dark;
		margin-bottom: 16px;
		text-align: center;
		position: relative;

		.category-tag {
			display: inline-block;
			text-align: center;
			font-size: 0.8em;
			padding: 5px 7px;
			text-transform: uppercase;
			transform: rotate(90deg);
			transform-origin: left bottom 0;
			position: absolute;
			top: -23px;
			right: -30px;

			&.magenta {
				background-color: $magenta;
				&::before { border-color: $magenta transparent transparent $magenta; }
				&::after  { border-color: transparent transparent $magenta $magenta; }
			}
			&.music {
				background-color: $orange;
				&::before { border-color: $orange transparent transparent $orange; }
				&::after  { border-color: transparent transparent $orange $orange; } 
			}
			&.sport {
				background-color: $cyan;
				&::before { border-color: $cyan transparent transparent $cyan; }
				&::after  { border-color: transparent transparent $cyan $cyan; }   
			}
			&.green {
				background-color: $green;
				&::before { border-color: $green transparent transparent $green; }
				&::after  { border-color: transparent transparent $green $green; }  
			}

			&::before, &::after {
				content: '';
				display: block;
				position: absolute;
				border: 6px solid $orange;
				right: -12px;
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			.icon::before {
				margin-right: 5px;
			}
		}

		.timer {

			@extend %clearfix;
			width: 270px;
			margin: 0 auto 16px;

			.circle {
				height: 70px;
				width: 70px;
				padding: 2px;
				border-radius: 35px;
				float: left;
				background-image: -moz-linear-gradient(left, #bd03ae 0%, #e4a101 33%, #08b8ba 66%, #10bc45 100%);
				background-image: -webkit-linear-gradient(left, #bd03ae 0%, #e4a101 33%, #08b8ba 66%, #10bc45 100%);
				background-image: linear-gradient(to right, #bd03ae 0%, #e4a101 33%, #08b8ba 66%, #10bc45 100%);

				&:not(:last-child) {
					margin-right: 30px;
				}

				.inside {
					height: 100%;
					background-color: $dark;
					border-radius: 35px;
					text-transform: uppercase;
					text-align: center;
					position: relative;

					.value {
						color: #ddd;
						font-size: 1.9em;
						position: relative;
						top: 22%;
					}

					.label {
						color: #888;
						font-size: 0.5em;
						font-weight: bold;
						position: relative;
						top: 26%;
					}
				}
			}

		}

		.title {
			text-transform: uppercase;
			font-size: 1.5em;
			white-space: normal;
			margin-bottom: 16px;
		}

		.button-wrapper {
			@extend %clearfix;
			.button {
				display: block;
				width: 46%;
				&:first-child { float: left; }
				&:last-child { float: right; }
			}
		}

	}

	.list {

		.list-section-header {

			display: block;
			background-color: darken($dark, 5%);
			margin-bottom: 15px;
			text-transform: uppercase;
			padding: 10px 15px;

			i.icon {
				color: $accent-color;
				font-size: 1.5em;
				margin-right: 5px;
			}

			span.label {
				position: relative;
				font-size: 0.8em;
				top: -4px;
			}

		}

		.card {

			background-color: $dark;
			margin: 0 15px 15px;
			border-radius: 0 0 5px 5px;

			.item {

				background: none;
				border: none;

				&.user-info-container {

					color: darken($base-color, 30%);
					font-size: 0.9em;
					padding-left: 82px;
					min-height: 50px;

					img.user-image {
						border-radius: 50px;
						border: 2px solid $accent-color;
						width: 35px;
						position: absolute;
						left: 16px;
            top: 7px;
					}

					span.user-name-label {
						font-style: italic;
					}

					span.user-name {
						color: $accent-color;
						font-family: $font-family-sans-serif-bold;
					}

					div.datetime {
						margin: 10px 0 4px;
					}

					div.datetime, span.counter {
						font-style: italic;
						font-size: 0.8em;
					}

					span.counter {
						margin-right: 10px;
						&::before {
							margin-right: 4px;
						}
					}

				}

			}

			.button-bar {

				border-top: 1px solid lighten($dark, 6%);

				button {

					height: 35px;
					width: 33.333333%;
					color: $base-color;
					font-size: 0.8em;
					transition: background-color 0.1s ease, color 0.1s ease;
					background-color: $dark;
					border: none;

					&.like-action span::before    { color: $magenta; }
					&.comment-action span::before { color: $orange; }
					&.share-action span::before   { color: $cyan; }

					&.activated {
						background-color: lighten($dark, 2%);
						border: none;
					}

					span {

						&::before {
							margin-right: 6px;
							font-size: 1.5em;
							position: relative;
							top: 2px;
						}

					}

				}

			}

		}

	}

}
