ion-side-menu.menu {

	background-color: rgba($menu-bg, 0.9);
	background-image: -moz-linear-gradient(left top, rgba($menu-bg-gradient-1, 0.99) 0%, rgba($menu-bg-gradient-2, 0.99) 19%, rgba($menu-bg-gradient-3, 0.9) 46%, rgba($menu-bg-gradient-4, 0.91) 53%, rgba($menu-bg-gradient-5, 0.95) 86%, rgba($menu-bg-gradient-6, 0.95) 100%);
	background-image: -webkit-linear-gradient(left top, rgba($menu-bg-gradient-1, 0.99) 0%, rgba($menu-bg-gradient-2, 0.99) 19%, rgba($menu-bg-gradient-3, 0.9) 46%, rgba($menu-bg-gradient-4, 0.91) 53%, rgba($menu-bg-gradient-5, 0.95) 86%, rgba($menu-bg-gradient-6, 0.95) 100%);
	background-image: linear-gradient(to right bottom, rgba($menu-bg-gradient-1, 0.99) 0%, rgba($menu-bg-gradient-2, 0.99) 19%, rgba($menu-bg-gradient-3, 0.9) 46%, rgba($menu-bg-gradient-4, 0.91) 53%, rgba($menu-bg-gradient-5, 0.95) 86%, rgba($menu-bg-gradient-6, 0.95) 100%);

	ion-content {
		background-image: none;
	}

	.menu-bottom-options {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	ion-list {

		display: block;
		background: none;

		ion-item.item {

			background: none;
			border-color: #777;

			h1 {
				font-size: 28px;
			}

			p {
				color: #aaa;
			}

			a.item-content,
			&.active a.item-content {
				background: none;
			}

			&.heading-item {

				border-top: none;

				a.item-content {

					padding: 20px 0;
					text-align: center;

					h1 {
						margin-bottom: 5px;
					}

					img.user-image {
						border-radius: 100px;
						margin: 0 auto;
						display: block;
					}

				}

			}

			a.item-content .menu-icon.icon {
				color: $base-color;
				font-size: 24px;
			}

		}

	}

}

ion-side-menu-content {
	ion-header-bar {
		span.nav-bar-title {
			display: block;
			height: 100%;
			img {
				height: 100%;
				padding: 4px 0;
			}
		}
	}
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
