$stable: #f8f8f8 !default;
$dark: #252222 !default;
$base-background-color: #3d3b3b !default;
$base-color: #eee !default;
$font-family-sans-serif: 'open_sansregular', '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$headings-font-family: 'open_sansbold', $font-family-base !default;