<ion-view class="auth-view" cache-view="false">

  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>Log In</ion-nav-title>
  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="row form-wrapper">
      <div class="col">
        <form name="login_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input" show-hide-container>
              <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
            </label>
          </div>
          <button type="submit" class="log-in button button-block button-accent" ng-click="vm.doLogIn()" ng-disabled="login_form.$invalid">Log In</button>
          <p ng-show="error" class="message error">{{error}}</p>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="forgot" ui-sref="auth.forgot-password">Forgot Password</a>
      </div>
    </div>
  </ion-content>

</ion-view>
