<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">

    <div class="header">
      <img src="img/logo.png" alt="TopThat Logo"/>
    </div>

    <div class="main">

      <div class="row">
        <div class="col">
          <a class="button button-block button-facebook" ng-click="vm.facebookSignIn()"><i class="icon ion-social-facebook"></i>Facebook</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a class="button button-block button-transparent" ui-sref="auth.signup">Sign Up</a>
        </div>
        <div class="col">
          <a class="button button-block button-transparent" ui-sref="auth.login">Log In</a>
        </div>
      </div>

    </div>

    <div class="footer">
      By signing up you agree to the <a ng-click="showTerms()">Terms of Service</a> and <a ng-click="showPrivacyPolicy()">Privacy Policy</a>.
    </div>

  </ion-content>
</ion-view>
