<ion-view >
  <!-- Second Phase -->
  <!--<ion-nav-buttons side="secondary">-->
    <!--<button class="button button-large ion-location" ng-click="vm.doSomething()">-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-nav-title ui-sref="app.home">
    <img src="img/logo.png">
  </ion-nav-title>
  <ion-content has-bouncing="false" overflow-scroll="true">
    <div class="contest-container" item-height="600">
      <div class="content-header">
        <!--<div class="region">-->
          <!--<button class="button icon ion-location" ng-click="vm.openModal()">Tel Aviv</button>-->
        <!--</div>-->
        <div ng-if="vm.contest.videos.length > 0" class="timer">
          <div class="circle">
            <div class="inside">
              <div class="value">2</div>
              <div class="label">days</div>
            </div>
          </div>
          <div class="circle">
            <div class="inside">
              <div class="value">15</div>
              <div class="label">hours</div>
            </div>
          </div>
          <div class="circle">
            <div class="inside">
              <div class="value">23</div>
              <div class="label">minutes</div>
            </div>
          </div>
        </div>
        <div class="category-tag orange icon ion-ios-musical-notes">{{vm.contest.category}}</div>
        <h2 class="title">{{vm.contest.title}}</h2>
        <button class="button button-accent button-block">UPLOAD</button>
      </div>
      <div class="list">
        <div class="list-section">
          <!--<div class="list-section-header">-->
          <!--<i class="icon ion-android-time"></i>-->
          <!--<span class="label">Latest Video</span>-->
          <!--</div>-->
          <div class="card" ng-repeat="video in vm.videos | filterVideos: 'finals'">
            <div class="item user-info-container">
              <img class="user-image" src="{{video.user_image}}" alt="">
              <span class="user-name-label">by </span>
              <span class="user-name">{{video.user}}</span>
              <!--<div class="datetime">{{contest.videos[0].user.created_time}}</div>-->
              <!--<span class="counter likes icon ion-heart">12 likes</span>-->
              <!--<span class="counter comments icon ion-chatbubble">23 comments</span>-->
            </div>
            <div class="item item-image">
              <img src="img/video.png"/>
              <!-- JOAO: Temporarily replaced the video with an image because of the scroll issue -->
              <!--<div class="video-container">
              <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" allowfullscreen></iframe>
              </div>-->
            </div>
            <div class="button-bar">
              <button class="like-action pressed">
                <span class="icon ion-heart"><span class="value">{{video.like}}</span></span>
              </button>
              <button class="comment-action">
                <span class="icon ion-chatbubble"><span class="value">{{video.comments}}</span></span>
              </button>
              <button class="share-action">
                <span class="icon ion-android-share-alt"><span class="value">{{video.share}}</span></span>
              </button>
            </div>
            <!--<div class="user-comments-container">-->
            <!--<div class="row" collection-repeat="comment in video.comments" item-width="33%" item-height="200px">-->
            <!--<img class="user-image" src="{{comment.user.image_url}}" alt="">-->
            <!--<span class="user-name">{{comment.user.user_name}}</span>-->
            <!--<span class="user-comment"> {{comment.text}} </span>-->
            <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
      <div ng-if="vm.contest.videos.length < 0">
        <h3>The Contest Haven't Started Yet</h3>
        <h4>In the meanwhile share it with your friends</h4>
        <button class="button button-accent button-block">SHARE</button>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>


