<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu side="left">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer">
      <div class="menu-top-options">
        <ion-list>
          <ion-item class="heading-item" menu-close ui-sref="app.home">
            <!-- We need a wrapper with width set for the preload image directive -->
            <img class="user-image" ng-src="img/face-8.jpg">
            <h1 class="greeting">João</h1>
            <p class="message">@joaomnb</p>
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.home">
            <i class="menu-icon icon ion-home"></i>
            <h2 class="menu-text">Messages</h2>
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.home">
            <i class="menu-icon icon ion-android-search"></i>
            <h2 class="menu-text">My Movies</h2>
          </ion-item>
        </ion-list>
      </div>
      <div class="menu-bottom-options">
        <ion-list>
          <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.home">
            <i class="menu-icon icon ion-ios-settings-strong"></i>
            <h2 class="menu-text">Settings</h2>
          </ion-item>
          <ion-item ui-sref-active="active" class="item-icon-left" menu-close ui-sref="app.home">
            <i class="menu-icon icon ion-android-call"></i>
            <h2 class="menu-text">Contact Us</h2>
          </ion-item>
        </ion-list>
        <button class="button button-block button-transparent logout" ng-click="">
          Log Out
        </button>
      </div>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" align-title="center">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-gear" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-title ui-sref="app.home">
        <img src="img/logo.png">
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-trophy" menu-toggle="right">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <!-- TABS -->

    <!--<ion-tabs class="tabs-dark tabs-icon-top">-->
    <!--<ion-tab title="Featured" ui-sref="app.featured">-->
    <!--<ion-nav-view name="featured-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="Newest" ui-sref="app.new">-->
    <!--<ion-nav-view name="new-tab"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--<ion-tab title="For You" ui-sref="app.trends">-->
    <!--<ion-nav-view name="trends-tab"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!--</ion-tabs>-->

    <!-- END OF TABS -->

  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content has-bouncing="false" scroll="false" class="menu-outer">
      <div class="menu-top-options">
        <ion-list>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'music'})">
            <h2 class="menu-text">Music Mania</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'stage'})">
            <h2 class="menu-text">Center Stage</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'dance'})">
            <h2 class="menu-text">Just Dance</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'sport'})">
            <h2 class="menu-text">Sportacular</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'fun'})">
            <h2 class="menu-text">For Fun</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: 'kids'})">
            <h2 class="menu-text">Kids’s Area</h2>
          </ion-item>
          <ion-item ui-sref-active="active" menu-close ui-sref="app.home({catName: ''})">
            <h2 class="menu-text">All</h2>
          </ion-item>
        </ion-list>
      </div>
      <ion-list>
        <button class="button button-block button-transparent ion-plus-circled" class="item-icon-right" menu-close
                ui-sref="app.newstep1">
          Add New Contest
        </button>
        <!--<ion-item ui-sref-active="active" >            -->
        <!--<i class="menu-icon icon "></i>-->
        <!--<h2 class="menu-text"></h2>-->
        <!--</ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
