/*Side Navigation========================================================*/

body.menu-side-action .navbar.navbar-default {
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  transform: translateX(-280px);
}
body.menu-side-action .navbar-side {
  right: 0;
}
.navbar-side {
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  display: inline-block;
  right: -280px;
  top: 0;
  height: 100vh;
  background: #171616;
  width: 280px;
  transition: right .2s ease;
  z-index: 15;
  -webkit-backface-visibility:hidden;
}
.navbar-side.open {
  right: 0;
}
.navbar-side li {
  display: block;
  width: 100%;
}
.navbar-side ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-transform: uppercase;
}
.navbar-side a {
  font-size: 13px;
  padding: 14px 30px;
  display: block;
  font-weight: 700;
}
.navbar-side .navigation > li:not(.categories) > a {
  color: #fff;
  border-bottom: 2px solid #323030;
  border-left: 1px solid #323030;
  background: #282727;
  cursor: pointer;
}
.navbar-side .navigation > li:not(.categories) > a:hover,
.navbar-side .navigation > li:not(.categories) > a:focus {
  color: #08bca4;
  background-color: #000;
}
.navbar-side .categories ul a {
  font-weight: 300;
}
.navbar-side .categories > a {
  color: #515151;
}
.navbar-side .categories > a,
.mb-cat > li > a.open {
  -webkit-box-shadow: 0px 2px 10px -3px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 2px 10px -3px rgba(0,0,0,.7);
  box-shadow: 0px 2px 10px -3px rgba(0,0,0,.7);
}
.navbar-side .categories a {
  border-bottom: 2px solid #1c1c1c;
}
.navbar-side .categories a:hover,
.navbar-side .categories a:focus {
  background-color: #000;
}
.inner .navbar-brand > img,
.inner .logo-container h1 {
  display: inline-block;
  margin: 0;
  float: left;
}
.navbar-brand {
  padding: 0;
  height: auto;
  margin-right: 1.8em;
}
.navbar.inner {
  -webkit-backface-visibility: hidden;
  background-color: #252222;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 35px;
  position: relative;
}
.navbar.inner .navbar-right {
  margin-top: 0;
  padding-top: 7px;
}
.inner .navbar-brand > img {
  margin-top: -10px;
  margin-right: 1rem;
}
.navbar.inner .line-bold {
  bottom: -1px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
}
.navbar.inner .search {
  margin-right: 1.15em;
}
.navbar.inner .search input {
  min-width: 18.46em;
}
.navbar .logo-container h3 {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 15px;
  margin-top: 10px;
}
.navbar .logo-container:not(.navbar-brand) {
  padding: 3px 0 5px 15px;
}
.navbar .logo-container:not(.navbar-brand) img {
  width: 4rem;
  margin-top: -1.2rem;
}
.navbar .search-btn,
.navbar .menu-btn {
  font-size: 2.1rem;
  margin: 1rem 0 0 1.8rem;
  padding: 2px 4px 1px 4px;
  position: relative;
}
.navbar .menu-btn {
  width: 25px;
  height: 30px;
}

.navbar .search-btn:hover,
.navbar .menu-btn:hover,
.navbar .search-btn:focus,
.navbar .menu-btn:focus {
  color: #05a48f;
}
body.menu-side-action .navbar .menu-btn {
  color: #fff;
}
.navbar .search-btn {
  font-size: 2.3rem;
}
.navbar-side .user-options a {
  padding: 8px 30px;
  color: #a6a6a6 !important;
}
.navbar-side .user-options img {
  margin-right: 2rem;
}
.mobile-drop {
  display: none;
}
.mobile-drop a {
  font-size: 11px !important;
  padding-left: 40px !important;
}
.mobile-drop li:last-child {
  -webkit-box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px -5px 4px 0px rgba(0,0,0,0.2);
}
.mobile-drop.acc-set a {
  padding: 14px 30px !important;
  border-bottom: 1px solid #1C1C1C;

}
.mobile-drop.acc-set span {
  width: 20px ;
  display: inline-block;
}
.navbar-side .mobile-drop a:before {
  content: "\e609";
  font-family: cool-site, sans-serif;
  position: absolute;
  left: 29px;
  margin-top: 3px;
  font-size: .6em;
  color: #777;
}
