<ion-view name="step2" hide-nav-bar="true">
  <!--<ion-nav-buttons side="right">-->
  <!--<button class="button button-icon button-clear ion-close-circled"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content has-bouncing="false" overflow-scroll="true">
    <button class="button icon ion-close-circled" ui-sref="app.home"></button>
    <div class="contest_title">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="vm.contestTitle">
      </label>
    </div>
    <button class="button button-accent button-block">UPLOAD</button>
    <div class="contest_pref">
      <ion-checkbox ng-model="vm.isPrivate"> Private Contest<i class="icon ion-locked"></i></ion-checkbox>
      <ion-checkbox ng-model="vm.isTournament"> Tournament Mode<i class="icon ion-ios-clock-outline"></i></ion-checkbox>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="vm.newContestConfirm()">Go!</button>
    </div>
  </ion-content>
</ion-view>


