<ion-view name="step2" hide-nav-bar="true">
  <!--<ion-nav-buttons side="right">-->
  <!--<button class="button button-icon button-clear ion-close-circled"></button>-->
  <!--</ion-nav-buttons>-->
  <ion-content has-bouncing="false" overflow-scroll="true">
    <button class="button icon ion-close-circled" ui-sref="app.home"></button>
    <div class="contest_title">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="vm.contestTitle">
      </label>
    </div>
    <button class="button button-accent button-block">UPLOAD</button>
    <input type="text" placeholder="URL" ng-model="vm.url">
      <ion-list class="contest_pref">
        <ion-radio ng-model="vm.contestType" ng-value="'private'"> Private Contest<i class="icon ion-locked"></i></ion-radio>
        <ion-radio ng-model="vm.contestType" ng-value="'tournament'"> Tournament Mode</ion-radio>
      </ion-list>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="vm.newContestConfirm()">Go!</button>
    </div>
  </ion-content>
</ion-view>


