<ion-view hide-nav-bar="true">
  <ion-content has-bouncing="false" overflow-scroll="true">
    <button class="button icon ion-close-circled" ui-sref="app.home"></button>
    <div class="categories">
      <h1>New Contest</h1>
      <ion-list>
        <ion-radio ng-model="vm.contestCategory" ng-value="'music'">Music Mania</ion-radio>
        <ion-radio ng-model="vm.contestCategory" ng-value="'stage'">Center Stage</ion-radio>
        <ion-radio ng-model="vm.contestCategory" ng-value="'dance'">Just Dance</ion-radio>
        <ion-radio ng-model="vm.contestCategory" ng-value="'sport'">Sportacular</ion-radio>
        <ion-radio ng-model="vm.contestCategory" ng-value="'fun'">For Fun</ion-radio>
        <ion-radio ng-model="vm.contestCategory" ng-value="'kids'">Kids’ Area</ion-radio>
      </ion-list>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ui-sref="app.newstep2">Next</button>
    </div>
  </ion-content>
</ion-view>


